@import '../App/pinacolada.css';

.gist_list {
  margin-top: 8%;
  display: flex;
}

.gist_link {
  display: flex;
  align-items: center;
  border: 3px solid darkgray;
  margin: 1%;
  width: 50%;
}

.code_icon {
  font-size: 18px;
  padding: 3%;
  padding-right: 10%;
}

.gisthome_link {
  font-weight: bold;
  text-decoration: underline;
}

#loading_msg {
  margin-top: 200px;
}
