.found_gist {
  margin-top: 100px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid #d9d9d9;
  width: 50%;
}

#gist_description {
  color: blue;
  font-weight: bold;
  background-color: #efefef;
  margin-bottom: 0;
  padding: 1%;
}

.gist_info {
  color: black;
  border-top: 1px solid #d9d9d9;
}

.edit_form {
  margin-top: 4%;
}

#delete_button {
  margin: 1%;
  float: right;
}

#edit_button {
  margin: 1%;
  float: left;
}

h6 {
  margin-left: 1%;
}
