.footer_links {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
  font-size: 8px;
  text-decoration: none;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  right: 0;
}

img {
  height: 50px;
  width: 50px;
}

.footer_left {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.footer_right {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
